<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css.css')}}">
    </head>
    <body>
        <div id="logo" >
            <img src="{{url_for('static',filename='banner3.jpg')}}" />
            </div>
        <div><p><marquee width="100%" behavior="alternate" > <i>Cảm ơn quý  khách dã sử dụng sản phẩm của chúng tôi !</i>
        </marquee></p></div>
        <div id="home">
            <ul ><b>
                <li><a href="D:\BÀI TẬP WEB\HTML\trang chủ.html">Home</a></li>
                <li><a href="D:\BÀI TẬP WEB\HTML\Giới thiệu.html">Intro</a></li>
                <li><a href="D:\BÀI TẬP WEB\HTML\HỖ TRỢ.html">Support</a></li>
                <li><a href="D:\BÀI TẬP WEB\HTML\LIÊN HỆ.html">Contact</a></li>
                <li><a href="/login">Login</a></li></b></ul>
        </div>
        <div id="main">
            <div id="left">
                <ul>
                    <h3><b>Danh mục sản phẩm</b></h3>
                </ul>
                <ul> <form>
                    <li><h3><a>Hàng mới</a></b></h3></li>
                    <li><h3><a>Trang sức vàng</a></b></h3></li>
                    <li><h3><a >Trang sức bạc</a></b></h3></li>
                    <li><h3><a >Kim cương</a></b></h3></li>
                </ul>
                <ul>
                    <h3>Đăng nhập</h3>
                    <form>
                        <input style="text" size ="15px" value="Tên đăng nhập">
                        <input style="text" size ="15px" value="Mật khẩu"><br>
                       
                    </form>
                </ul>
                <ul><h3>Chăm sóc khách hàng</h3></ul>
                <ul>
                    <li><h3><a href="D:\BÀI TẬP WEB\HTML\Cắt bánh.html">Bảo hành sản phẩm</a></b></h3></li>
                    <li><h3><a href="D:\BÀI TẬP WEB\HTML\Đong.html">Thẩm định sản phẩm</a></b></h3></li>
                    <li><h3><a href="D:\BÀI TẬP WEB\HTML\Vét.html">Tư vấn</a></b></h3></li>
                    <li><h3><a href="D:\BÀI TẬP WEB\HTML\Máy.html">Liên lạc cửa hàng</a></b></h3></li>
                    
                </ul>
            </div>
            <div id="right">
                
                        <img src="{{url_for('static', filename='banner1.jpg')}}" />
                <table>
                    <th>
                        <img src="{{url_for('static',filename='item1.png')}}" />
                    </th>
                    <th >
                        <img src="{{url_for('static',filename='item2.png')}}" />
                    </th>
                    <th>    <img src="{{url_for('static',filename='item3.png')}}" /></th>
                </tr>
                    <th >
                        <img src="{{url_for('static',filename='item4.png')}}" />
                    </th>
                    <th >
                        <img src="{{url_for('static',filename='item5.png')}}" />
                    </th>
                    <th >
                        <img src="{{url_for('static',filename='item6.png')}}" />
                    </th>
                
            </table>
            </div>
        </div>
        <a><H3>CÔNG TY CỔ PHẦN  VÀNG BẠC ĐÁ QUÝ PHÚ NHUẬN</H3></
    </body>
</html>
